/* CSS - Formatierung für Hausarbeit */
body{
  font-family: "Times New Roman"
  font-size: 12pt;
  line-height: 1.5;
  hyphens: auto; 
	text-align: justify;
	text-align-last: none; /* Letzte Zeile eines Absatz ist niemals im Blocksatz */
}

[role="doc-noteref"] {
  counter-increment: footnotes; 
  font-size: 10pt;
  line-height: 1;
}
/* Headers */
h1{
  font-size: 16pt;
  font-weight: bold;
  text-indent: 0cm;
  line-height: 12pt;
}
h2{
  font-size: 14pt;
  font-weight: bold;
  text-indent: 0,39cm;
  }
  
h3{
  font-size: 12pt;
  font-weight: bold;
  text-indent: 0,78cm;
  }
table{
  margin-left: auto;
  margin-right: auto;
}