/* CSS - Formatierung für Hausarbeit */
body{
  font-family: "Times New Roman"
  font-size: 12pt;
  line-height: 1.5;
  hyphens: auto; 
	text-align: justify;
	text-align-last: none; /* Letzte Zeile eines Absatz ist niemals im Blocksatz */
}

[role="doc-noteref"] {
  counter-increment: footnotes; 
  font-size: 10pt;
  line-height: 1;
}
/* Headers */
h1{
  font-size: 16pt;
  font-weight: bold;
  text-indent: 0cm;
  line-height: 12pt;
}
h2{
  font-size: 14pt;
  font-weight: bold;
  text-indent: 0,39cm;
  }
  
h3{
  font-size: 12pt;
  font-weight: bold;
  text-indent: 0,78cm;
  }
table{
  max-width: 92.5%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Times New Roman"
  font-size: 10pt;
  line-height: 1;
  border-spacing: 2.5px;
}

th, td {
   padding-top: 2.5px;
   padding-bottom: 2.5px;
   padding-left: 5px;
   padding-right: 5px;
}

.main-container {max-width: 90%;}
.row {display: flex;}
.column {flex: 50%; margin: 2px}